<div class="b-welcome-page">
  <div ng-if="!indexCtrl.resetPasswordToken">
    <h1 class="b-rules-title">Добро пожаловать!</h1>

    <div ng-if="indexCtrl.showMessagesUntilTrial > 0 && !indexCtrl.programPaid && indexCtrl.validTrial" flex layout="row" layout-align="center" layout-wrap>
      <div class="b-rules-frame transparent-frame content-transparent-frame m-margin-bottom-0 m-text-align-center">
        <h3>
          Поздравляем, теперь ты участник пробной недели базовой программы развития иммунитета!
        </h3>

        <p>
          Стартуем <strong>26 ноября</strong>, в этот день рано утром будет выложен подробный организационный пост и первое задание.
          А до этого времени заполни пожалуйста свой профиль.
        </p>

        <p>
          Пару слов о проекте. Основная игра будет проходить в интернете и продлится 6 недель.
          От тебя потребуется ежедневное выполнение заданий, за которые начисляются баллы.
          Победители получают награды и возможность вступить в команду Космического бублика.
        </p>

        <p>
          Задания включают в себя техники, развивающие сознание, практики, медитации, а также конкретные действия.
        </p>

        <div>Каждая неделя будет посвящена одной из жизненных сфер:</div>
        <div>1 - ценности и предназначение</div>
        <div>2 - цели и задачи</div>
        <div>3 - отношения: любовь, дружба, партнёрство</div>
        <div>4 - тело и сексуальность</div>
        <div>5 - деньги и бизнес</div>
        <div>6 - глобальное мышление</div>

        <br/>

        <div>Стоимость 6-недельной игры - <strong>3490 р.</strong></div>
        <div>Стоимость пробной недели - <strong>347 р</strong>, доплата за оставшиеся пять в этом случае <strong>3680 р.</strong></div>

        <br/>

        <div><strong>За решительность и быстроту принятия решений - подарки! Если вы оплатите участие в течение 24 часов после первого захода на наш сайт, вы получите в подарок отличную книгу.</strong></div>

        <br/>
      </div>
    </div>

    <div ng-if="indexCtrl.showMessagesUntil > 0 && indexCtrl.programPaid" flex layout="row" layout-align="center" layout-wrap>
      <div class="b-rules-frame transparent-frame content-transparent-frame m-margin-bottom-0 m-text-align-center">
        <h3>
          Поздравляем с успешной оплатой!
        </h3>

        <p>
          Теперь ты участник базовой программы развития иммунитета.
          Стартуем 26 ноября, в этот день рано утром будет выложен подробный организационный пост и первое задание.
          Накануне будет перекличка и проверка связи.
          А до этого времени заполни пожалуйста свой профиль, если ты еще не сделал этого.
        </p>

        <p>
          Основная игра будет проходить в интернете и продлится 6 недель.
          От тебя потребуется ежедневное выполнение заданий, за которые начисляются баллы.
          Победители получают награды и возможность вступить в команду Космического бублика.
        </p>

        <p>
          Задания включают в себя техники, развивающие сознание, практики, медитации, а также конкретные действия.
        </p>

        <div>Каждая неделя будет посвящена одной из жизненных сфер:</div>
        <div>1 - ценности и предназначение</div>
        <div>2 - цели и задачи</div>
        <div>3 - отношения: любовь, дружба, партнёрство</div>
        <div>4 - тело и сексуальность</div>
        <div>5 - деньги и бизнес</div>
        <div>6 - глобальное мышление</div>

        <br />
      </div>
    </div>

    <div ng-if="indexCtrl.showMessagesUntil > 0 && !indexCtrl.programPaid && !indexCtrl.validTrial" flex layout="row" layout-align="center" layout-wrap>
      <div class="b-rules-frame transparent-frame content-transparent-frame m-margin-bottom-0 m-text-align-center">
        <br/>

        <div>Привет, пару слов о проекте.</div>
        <div>Игра проходит в интернете и длится <strong>6 недель</strong>. Предполагает ежедневное выполнение заданий, за которые начисляются баллы. Победители получают награды и возможность вступить в команду Космического бублика.</div>

        <br/>

        <div>Задания включают в себя техники, развивающие сознание, практики, медитации, а также конкретные действия.</div>

        <br/>

        <div>Каждая неделя будет посвящена одной из жизненных сфер:</div>
        <div>1 - ценности и предназначение</div>
        <div>2 - цели и задачи</div>
        <div>3 - отношения: любовь, дружба, партнёрство</div>
        <div>4 - тело и сексуальность</div>
        <div>5 - деньги и бизнес</div>
        <div>6 - глобальное мышление</div>

        <br/>

        <div>Старт следующей программы - <strong>26 ноября.</strong></div>

        <br/>

        <div>Стоимость 6-недельной игры - <strong>3490 р.</strong></div>
        <div>Стоимость пробной недели - <strong>347 р</strong>, доплата за оставшиеся пять в этом случае <strong>3680 р.</strong></div>

        <br/>

        <div><strong>За решительность и быстроту принятия решений - подарки! Если вы оплатите участие в течение 24 часов после первого захода на наш сайт, вы получите в подарок отличную книгу.</strong></div>

        <br/>
      </div>
    </div>
  </div>

  <div ng-if="indexCtrl.showMessagesUntil < 0 && !indexCtrl.programPaid && !indexCtrl.validTrial" flex layout="row" layout-align="center" layout-wrap>
    <div class="b-rules-frame transparent-frame content-transparent-frame m-margin-bottom-0 m-text-align-center">
      <p>Дорогие друзья!</p>

      <p>Прямо сейчас программа уже идет и присоединиться к ней нельзя. Но вы можете принять участие в следующей, которая стартует 26 ноября.</p>

      <br/>

      <div>Стоимость 6-недельной игры - <strong>3490 р.</strong></div>
      <div>Стоимость пробной недели - <strong>347 р</strong>, доплата за оставшиеся пять в этом случае <strong>3680 р.</strong></div>

      <br/>

      <div><strong>За решительность и быстроту принятия решений - подарки! Если вы оплатите участие в течение 24 часов после первого захода на наш сайт, вы получите в подарок отличную книгу.</strong></div>

      <br/>
    </div>
  </div>

  <div ng-if="indexCtrl.showMessagesUntilTrial < 0 && !indexCtrl.programPaid && indexCtrl.validTrial" flex layout="row" layout-align="center" layout-wrap>
    <div class="b-rules-frame transparent-frame content-transparent-frame m-margin-bottom-0 m-text-align-center">
      <p>Дорогой зевака!</p>
      <p>Нам очень грустно, что ты решил не продолжать игру. Но мы не прощаемся, ведь наш проект только начал своё движение и впереди ещё океан возможностей! Со временем и базовая игра станет более совершенной, и появятся специализированные тематические игры и комьюнити наше будет просто огромным!</p>
      <div>
        Надеемся ещё не раз встретиться на просторах Космического бублика!
        Напоминаем, что следующая игра стартует 26 ноября. Будем рады продолжить путь вместе с вами. Присоединяйтесь!
      </div>
      <br/>
    </div>
  </div>
</div>
