<div flex layout="row" layout-align="center" layout-wrap>
  <div flex="95" class="transparent-frame content-transparent-frame">
    <md-tab-body>
      <md-menu-content class="m-background-color-transparent">
        <md-menu-item ng-if="getTasksReview()" ui-sref-active="active" ng-cloak>
          <md-button ui-sref="mentorusers">
            <md-icon class="menu-icon menu-icon--black" md-svg-icon="social:ic_people_24px"></md-icon>
            Проверка заданий
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-tab-body>
  </div>
</div>
