div[style="font-family: helvetica; color: #777; max-width: 600px; margin: 20px auto;"],
div[style="margin: 20px auto; color: rgb(119, 119, 119); font-family: helvetica; max-width: 600px;"] {
  display: none;
}
