<div ng-if="!$root.currentUser.profile.instructionNotRead" class="b-welcome-page">
  <div>
    <h1 class="b-welcome-page__title">Вы были успешно назначены в выбранную вами программу!</h1>
  </div>
</div>

<md-content ng-if="$root.currentUser.profile.instructionNotRead" flex layout-padding class="md-whiteframe-z2" style="max-height: 80vh;min-height: 60vh;overflow: auto;">
  <div>
    <p>Как все происходит.</p>

    <p>1) Мы будем присылать вам задания несколько раз в неделю. Уведомления будут приходить на почту. Задания не будут выстроены в логическую цепочку (в этом отличие от базовой программы), а будут выкладываются врассыпную, чтобы каждый новый подключившийся зевака мог без потерь начать выполнять их вместо с вами.</p>

    <p>2) Ваша задача - заходить на портал и делать упражнения, выкладывая отчет о выполнении. Лучше всего читать задание с утра, потому что некоторые подразумевают выполнение в течение дня, к примеру наблюдения разного рода. А выкладывать отчет можно вечером, или сразу после выполнения, если оно не размазано по дню. Можно и на следующий день. Мы будет стараться делать максимально понятные заголовки, чтобы вы уже по письму в почте могли определить степень полезности и интересности задания.</p>

    <p>3) Авторов упражнений много, а тексты составляю и/или редактирую в основном я, Наташа Маркович. Так что заданию будут написано от моего лица и порой с моими примерами.</p>

    <p>
      <div>4) Ваша задача самостоятельно создать в отчетах душевную атмосферу. В этом тоже отличие от базовой программы, там у нас работают капитаны и координаторы, они поддерживают, дают обратную связь, подсказывают, разруливают конфликты, организуют процесс и т.д. Тут все построено на взаимовыручке и взаимной поддержке участников. Поэтому помните о правилах портала, где значатся уважение, вежливость, толерантность и отсутствие политики. Ну и просто - всегда приятно быть добрым искренним человеком среди добрых искренних людей.</div>
      <div>Поэтому - доброта и искренность - с вас. И с нас конечно тоже, мы постепенно строим самую добрую и искреннюю соцсеть.</div>
      <div>И не забывайте читать и комментировать отчеты друг друга, это очень интересно и полезно тоже, вы увидите, что чтение чужих отчетов очень добавляет осознания по поводу сделанного упражнения.</div>
    </p>

    <p>5) Доброта не предполагает запрет на какие-либо эмоции. Если вы чувствуете злость, вы можете спокойно писать - чувствую злость. Если раздражение - можете писать, если ненависть - ок. Главное не писать «ты мудак», «ваше упражнение дерьмо», «вы все козлы» или что-то в этом роде. Пишите только о своих чувствах, переживаниях. Мы за честность и верим, что плохих чувств не бывает. Это все проявление жизни.</p>

    <p>6) Иногда мы будем предлагать вам зарегистрироваться в платную базовую программу. Разумеется, должны же мы продавать то, что в принципе приносит в Космическом бублике деньги. Напоминаем, что стоит она 2 т.р., и что 80% прибыли предназначено на благотворительность и соцпроекты.</p>

    <p>7) Вот и все. Вопросы можно задавать в чате, который называется «Зевакам» там вы можете и сами общаться и нас, организаторов спрашивать о чем-то. Так же есть чат у вашего тематического потока, там можно обсуждать задания.</p>

    <p>8) Ах да, столкнувшись с багом, не нойте, а скорее пишите нам, с указанием девайса и браузера - этим вы очень поможете сделать нам портал лучше. За это вам заранее спасибо! И вообще спасибо, что вы с нами.</p>

    <p>Команда Космобублика.</p>
  </div>
</md-content>
<section ng-if="$root.currentUser.profile.instructionNotRead" layout="column" layout-align="center center" layout-wrap>
  <md-button id="accept-rules" class="md-raised md-primary" ng-click="assignStream.acceptRules()" aria-label="acceptrules">
    Все понятно
  </md-button>
</section>
