<div class="b-welcome-page">
  <div flex layout="row" layout-align="center" layout-wrap>
    <div flex-lg="55" flex-gt-lg="45" flex-md="85" flex-sm="100">
      <div ng-if="resetCtrl.resetPasswordToken">
        <form name="resetPasswordForm" ng-if="!$root.currentUser" class="b-reset-pass-form">
          <md-input-container class="b-reset-pass-form__input b-rounded-input-container">
            <label>Новый пароль</label>
            <input name="password" type="password" ng-model="resetCtrl.credentials.password" required minlength="6" oninvalid="this.setCustomValidity('Заполните это поле.')" oninput="setCustomValidity('')">
            <div ng-messages="resetPasswordForm.password.$error" ng-show="resetPasswordForm.password.$dirty" multiple>
              <div ng-message="required">
                Это обязательное поле!
              </div>
              <div ng-message="minlength">
                Минимальная длина 6 символов!
              </div>
            </div>
          </md-input-container>
          <section layout="column" layout-align="center center" class="b-reset-pass-form__submit" layout-wrap >
            <md-button class="md-raised md-primary b-primary-button" ng-click="resetCtrl.resetPassword()" aria-label="resetPassword" ng-disabled="resetCtrl.resetPasswordForm.$invalid()">
              Изменить
            </md-button>
          </section>
          <input type="hidden" ng-model="resetCtrl.resetPasswordToken" />
        </form>
      </div>
    </div>
  </div>
</div>
