<div class="b-welcome-page">
  <div flex layout="row" layout-align="center" layout-wrap>
    <div class="b-rules-frame transparent-frame content-transparent-frame m-margin-bottom-0 m-text-align-center">
      <p>Не удалось произвести оплату.</p>
      <p>Возможно Вы уже оплатили участие в этой программе.</p>
      <p>Если Вы оплатили пробный период и хотите произвести полную оплату программы, то сделайте это на <a href="/payment">странице оплаты портала.</a></p>
      <br/>
    </div>
  </div>
</div>
