<md-progress-circular ng-if="!adminRules.dataReady" class="md-warn md-hue-1 b-loader" md-mode="indeterminate"></md-progress-circular>
<md-subheader ng-if="adminRules.dataReady==='error'" class="md-primary">{{ adminRules.dataError }}</md-subheader>

<div flex layout="row" layout-align="center" layout-wrap ng-if="adminRules.dataReady">
  <div flex="95" class="transparent-frame content-transparent-frame">
    <form class="form-horizontal col-xs-12" ng-cloak>
        <textarea froala="adminRules.froalaOptions" ng-model="adminRules.rules.text" type="text" autocomplete="off"
               name="rules" placeholder="Правила" id="rules"></textarea>
    </form>
    <md-button class="md-raised md-warn" ng-click="adminRules.editRules()" aria-label="saverules">
      Сохранить
    </md-button>
  </div>
</div>
