<md-dialog aria-label="userEdit" ng-cloak>
  <md-dialog-content>
    <div class="md-dialog-content">
      Вы действительно хотите удалить пользователя {{ user.emails[0].address }}?
      <section layout="row" layout-align="center center" layout-wrap>
        <md-button type="submit" id="edit-user-button" class="md-raised md-primary" ng-click="deleteUser()" aria-label="edit user">
          УДАЛИТЬ
        </md-button>
        <md-button id="delete-user-button" class="md-raised md-warn" ng-click="hide()" aria-label="delete user">
          НЕ УДАЛЯТЬ
        </md-button>
      </section>
    </div>
  </md-dialog-content>
</md-dialog>
